body {
    margin-top: 100px;
    background-color: #f8f9fa;
    /* Cor de fundo suave */
    font-family: Arial, sans-serif;
    /* Fonte padrão */
}

.container {
    border-top: solid #007bff;
    max-width: 400px;
    /* Largura máxima do contêiner */
    margin: 0 auto;
    /* Centralizar o contêiner na página */
    padding: 40px;
    /* Espaçamento interno */
    background-color: #fff;
    /* Cor de fundo do contêiner */
    border-radius: 30px;
    /* Cantos arredondados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

h1 {
    text-align: center;
    /* Centralizar o título */
    margin-bottom: 30px;
    /* Espaçamento inferior */
    color: #333;
    /* Cor do texto */
}

.form-group {
    margin-bottom: 20px;
    /* Espaçamento inferior */
}

label {
    font-weight: bold;
    /* Texto em negrito */
    color: #555;
    /* Cor do texto */
}

input.form-control {
    border: 1px solid #ced4da;
    /* Borda */
    border-radius: 4px;
    /* Cantos arredondados */
}

button.btn-primary {
    background-color: #007bff;
    /* Cor de fundo */
    border: 1px solid #007bff;
    /* Sem borda */
    border-radius: 4px;
    /* Cantos arredondados */
    /*padding: 10px 20px;*/
    /* Espaçamento interno */
    width: 45%;

}

button.btn-primary:hover {
    background-color: #0056b3;
    /* Cor de fundo ao passar o mouse */
}

button.btn-secundary {
    color: #007bff;
    /*background-color: #007bff;*/
    /* Cor de fundo */
    border: 1px solid #007bff;
    /* Sem borda */
    border-radius: 4px;
    /* Cantos arredondados */
    /*padding: 10px 20px;*/
    /* Espaçamento interno */
    width: 45%;

}

button.btn-secundary:hover {
    color: white;
    background-color: #007bff;
    /* Cor de fundo ao passar o mouse */
}

#buttons {
    display: flex;
    justify-content: space-between;
}